.pagination {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 70px;
}

.pagination button {
  width: 80px;
  background-color: #3874ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.pagination p {
  border: 1px solid #3874ff;
  width: 25px;
  text-align: center;
  border-radius: 5px;
}

.disabled {
  opacity: 0.3;
  cursor: inherit !important;
}
.selected {
  background-color: #3874ff;
}
